<section class="">
    <div class="p-2 px-2">
        <!-- Top interactions -->
        <div class="flex items-center justify-between">
            <div class="">
                <div class="flex items-center gap-2 ml-3">
                    <span class="text-white/60 font-light">settings</span>
                </div>
            </div>

            <div class="flex items-center gap-1 ">
                <button class="size-8 rounded-md active:scale-75 text-xl grid place-content-center hover:bg-white/10 duration-200">
                    <span>-</span>
                </button>
                <button class="size-8 rounded-md active:scale-75 text-xl grid place-content-center hover:bg-white/10 duration-200">C</button>
                <button class="size-8 rounded-md active:scale-75 text-xl grid place-content-center hover:bg-red-600/80 duration-200">X</button>
            </div>
        </div>

        <div class="flex p-5 gap-6">
            
            <div class="lg:w-[18vw] flex flex-col gap-4">
                <!-- Top div profil -->
                <div class="flex items-center gap-4 hover:bg-white/10 duration-300 p-2 rounded-md">
                    <div class="bg-red-400 size-14 rounded-full"> </div>
                    <div>
                        <p class="font-semibold">Likeur off</p>
                        <p class="text-white/80">likeur.off&#64;gmail.com</p>
                    </div>
                </div>

                <!-- Research -->
                <div>
                    <div>
                        <input type="search" class="bg-white/10 p-1 placeholder:pl-2 w-full shadow-md rounded-md border-b border-white/50" name="" placeholder="Find a setting" id="">
                    </div>
                </div>

                <!-- Links -->
                <div class="w-full overflow-y-scroll h-[36vh]">
                    <ul class="w-full flex flex-col gap-1">
                        @for (link of linkList; track $index) {
                            <li class="w-full"><a [routerLink]="link.linkroute" routerLinkActive="bg-white/10" [class]="linkstyle()"> {{link.name}} </a></li>
                        }
                        
                        
                    </ul>
                </div>
            </div>

            <!-- Home part -->
            <div class="flex flex-col gap-4">
                <h3 class="text-2xl font-bold">Home</h3>

                <!-- Desktop name -->
                <div class="flex gap-4">
                    <div class="h-20 w-32 rounded-md ring-2 ring-blue-600 overflow-hidden">
                        <img src="/img/win12.jpg" class="h-full w-full object-cover" alt="">
                    </div>
                    <div>
                        <p class="text-xl font-bold uppercase">Desktop of Likeur</p>
                        <p class="text-white/80">Lenovo 82TT V3 GEN</p>
                        <button class="text-blue-500">Rename</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>