<section class="fixed bottom-3 w-full mx-auto flex items-center justify-between px-5">
    <div class="bg-white/20 backdrop-blur-md flex items-center gap-2 p-2 rounded-lg">
        <button class="size-10 rounded-md active:scale-75 grid place-content-center hover:bg-white/10 duration-300 p-1 overflow-hidden">
            <img src="/img/win12.png" class="h-full w-full object-cover" alt="">
        </button>
        <button class="size-10 rounded-md active:scale-75 grid place-content-center hover:bg-white/10 duration-300 p-1 overflow-hidden">
            <img src="/img/icons8-paramètres-48.png" class="h-full w-full object-cover" alt="">
        </button>
    </div>
    <div>
        <h1>Parti Droite</h1>
    </div>
</section>