<section class="relative z-50 text-white">

  <!-- Settings -->
  <div (click)="bringToFront()" [ngClass]="{'z-50': isInFront, 'z-10' : isInFront === false}" class="h-[60vh] overflow-hidden z-10 w-[60vw] scale-0 bg-gray-950/30 backdrop-blur-lg border border-gray-400/20 rounded-2xl absolute top-20 left-64">
    <app-settings />
  </div>

  <!-- Video player -->
  <div (click)="bringToFront()" [ngClass]="{'z-50': isInFront ===false , 'z-10' : isInFront}" class="h-[60vh]  z-10 w-[60vw] bg-gray-950/30 backdrop-blur-lg border border-gray-400/20 rounded-2xl absolute top-40 left-20">
    <app-videoplayer />
  </div>


  <section>
    <app-taskbar />
  </section>
</section>
