<section class="h-full relative z-20 group">
  <div
    class="h-full bg-white/10 grid place-content-center rounded-2xl overflow-hidden"
  >
    <video #videoPlayer class="h-full w-full object-cover">
      <source [src]="currentVideo" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <!-- Some controls -->
    <div class="absolute group-hover:scale-100 scale-0 right-3 duration-300 origin-right top-5 flex flex-col gap-3 bg-gradient-to-r rounded-lg from-transparent to-white/10 p-3">
      <!-- close -->
      <button class="size-10 border border-white/5 backdrop-blur-md bg-white/10 rounded-full hover:scale-105 duration-300 grid hover:bg-red-700 active:scale-90 place-content-center">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
          >
            <path
              fill-rule="evenodd"
              d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </button>
      <!-- Aggrandir -->
      <button class="size-10 border border-white/5 backdrop-blur-md bg-white/10 active:scale-90 rounded-full hover:scale-105 duration-300 grid place-content-center">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
          >
            <path
              fill-rule="evenodd"
              d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
      </button>
    </div>

    <button
      (click)="playVideo()"
      class="size-14 absolute top-[50%] left-[50%] hover:scale-105 scale-0 group-hover:scale-100 duration-200 ring-4 ring-white/10 rounded-full bg-white/20 grid place-content-center"
    >
      @if(videoIsplayed){
      <span class="text-xl">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6"
        >
          <path
            fill-rule="evenodd"
            d="M6.75 5.25a.75.75 0 0 1 .75-.75H9a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H7.5a.75.75 0 0 1-.75-.75V5.25Zm7.5 0A.75.75 0 0 1 15 4.5h1.5a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H15a.75.75 0 0 1-.75-.75V5.25Z"
            clip-rule="evenodd"
          />
        </svg>
      </span>

      }@else {
      <span class="text-xl">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6"
        >
          <path
            fill-rule="evenodd"
            d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      }
    </button>

    <!-- Control bar -->
    <div
      class="absolute left-16 backdrop-blur-3xl group-hover:-translate-y-3 duration-300 shadow-xl shadow-white/5 border border-white/10 -bottom-7 z-40 bg-white/30 h-12 w-[50vw] rounded-full flex items-center gap-3 px-4"
    >
      <button
        (click)="playVideo()"
        class="active:scale-75 duration-200 hover:bg-white/10 p-2 rounded-md"
      >
        @if(videoIsplayed){
        <span class="text-xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
          >
            <path
              fill-rule="evenodd"
              d="M6.75 5.25a.75.75 0 0 1 .75-.75H9a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H7.5a.75.75 0 0 1-.75-.75V5.25Zm7.5 0A.75.75 0 0 1 15 4.5h1.5a.75.75 0 0 1 .75.75v13.5a.75.75 0 0 1-.75.75H15a.75.75 0 0 1-.75-.75V5.25Z"
              clip-rule="evenodd"
            />
          </svg>
        </span>

        }@else {
        <span class="text-xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6"
          >
            <path
              fill-rule="evenodd"
              d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z"
              clip-rule="evenodd"
            />
          </svg>
        </span>
        }
      </button>
    </div>
  </div>
</section>
